nav {
    gap: 12%;
    top: 40%;
    display: flex;
    position: relative;
    color: aliceblue;
    height: 35px;
    left: 30%;

}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.n2 {
    position: relative;
    background-image: url(zazi.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    padding: 90px;



}

.hero-label {
    position: absolute;
    top: 28%;
    left: 6%;
    max-width: 700%;
    letter-spacing: 30%;
}

.hero-title {
    margin-top: 70px;
    font-size: 50px;
    max-width: 700px;
}

.q1 {
    background-color: rgb(9, 138, 9);
    padding: 10px;
    width: 15%;
}

.q2 {
    color: rgb(18, 130, 18);
    padding: 10px;
    width: 15%;
    border-style: groove;
}

.n3 {
    position: relative;
    background-color: rgb(11, 128, 11);
    padding: 50px;
}

.nana {
    border-radius: 20%;
    gap: 200%;
    position: relative;
    left: -20%;

}

.nono {
    border-radius: 20%;
    gap: 200%;
    position: relative;
    left: -2%;

}

.nini {

    border-radius: 20%;
    height: 260px;
    gap: 200%;
    position: relative;
    left: 15%;


}

.h1 {
    text-align: center;
    color: green;
    padding: 10px;
    width: 15%;
    border-style: double;
}

.n4 {
    background-color: antiquewhite;
    position: relative;
    padding: 40px;
}

.t5 {
    border-radius: 20%;
    gap: 200%;
    position: relative;
    left: -1%;


}

.t6 {
    border-radius: 20%;
    gap: 200%;
    position: relative;
    left: 4%;
}

.t7 {
    border-radius: 20%;
    gap: 200%;
    position: relative;
    left: 10%;
}

.lala {
    font-size: 20px;
    text-align: center;

}

.y1 {
    position: relative;
    left: 0%;
    top: 50%;
}